RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#this rule allows to redirect to pages from pages folder and add an id to the URL
RewriteRule ^([-a-zA-Z0-9/]+)?([0-9]+)?$ index.php?Pages=$1&id=$2 [QSA,L]
